@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Signika+Negative:wght@500;600&display=swap");

* {
  font-family: "Lora", serif;
  font-family: "Signika Negative", sans-serif;
  text-decoration: none !important;
  box-sizing: border-box;
}

.heroImg {
  width: 100%;
}

.carousel-inner {
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logoName {
  font-size: 27px;
}

.opacity:hover {
  opacity: 0.7;
}

.hover:hover {
  background-color: hsl(300, 27%, 28%) !important;
}

.color {
  color: "#974FD0" !important;
}

.inputRegBox {
  width: 100%;
}
.inputReg {
  height: 45px;
  padding-left: 10px;
}

/* for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
  .logoName {
    font-size: 20px;
  }
  .logo {
    height: 35px !important;
    max-width: 100%;
  }
}

/* for medium-sized screens (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logoName {
    font-size: 26px;
  }

  .logo {
    max-width: 90%;
  }
}

/*for larger screens (e.g., desktops) */
@media screen and (min-width: 1024px) {
  .logoName {
    font-size: 32px;
  }
  .logo {
    max-width: 100%;
  }

  .heroImg {
    width: 100%;
    height: 553px;
  }
}
