@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;600&display=swap");

* {
  font-family: "Lora", serif;
  font-family: "Signika Negative", sans-serif;
  text-decoration: none !important;
}

.heroImg {
  width: 100%;
}

.carousel-inner {
  margin: 0;
  padding: 0;
}

.logo {
  max-width: 100%;
  height: auto;
}

.logoName {
  font-size: 27px;
}

.opacity:hover {
  opacity: 0.7;
}

.hover:hover {
  background-color: hsl(300, 27%, 28%) !important;
}

.textHover:hover {
  color: hsl(300, 27%, 28%) !important;
}

.color {
  background-color: #974fd0 !important;
}

.defaultColor {
  color: #974fd0 !important;
}

.buttonBorder {
  border-color: #974fd0 !important;
}

.fontWeight-400 {
  font-weight: 400 !important;
}

.taskParagraph {
  color: #737171;
}

.row {
  --bs-gutter-x: 0 !important;
}

.form-container {
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-label-top-left {
  position: absolute;
  top: 16px;
  left: 40px;
  color: #908d8d;
  font-weight: 400;
  background-color: white;
  transform: translateY(-100%) translateX(10px);
}

.centered-placeholder::placeholder {
  padding-top: 20px;
  color: #cccccc !important;
}

.select {
  border-radius: 4px !important;
}

.form-input-tags {
  height: auto;
}

.inputRegBox {
  width: 100%;
}
.inputReg {
  height: 45px;
  padding-left: 10px;
}

.bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

/* for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 767px) {
  .logoName {
    font-size: 20px;
  }
  .logo {
    height: 35px !important;
    max-width: 100%;
  }

  .form-label-top-left {
    position: absolute;
    top: 16px;
    left: 27px;
    color: #908d8d;
    font-weight: 400;
    background-color: white;
    transform: translateY(-100%) translateX(10px);
  }

  .bi-person-circle {
    font-size: 30px;
  }
}

.customPadding {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

/* for medium-sized screens (e.g., tablets) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .logoName {
    font-size: 26px;
  }

  .logo {
    max-width: 90%;
  }
  .customPadding {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .bi-person-circle {
    font-size: 34px;
  }
}

/*for larger screens (e.g., desktops) */
@media screen and (min-width: 1024px) {
  .logoName {
    font-size: 32px;
  }
  .logo {
    max-width: 100%;
  }

  .heroImg {
    width: 100%;
    height: 553px;
  }

  .customPadding {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }

  .bi-person-circle {
    font-size: 30px;
  }
}
