@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Signika+Negative:wght@500;600&display=swap");

* {
  font-family: "Lora", serif;
  font-family: "Signika Negative", sans-serif;
  text-decoration: none !important;
}

.heroImg {
  max-width: 418px;
}